* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #003049;
  color: rgba(255, 255, 255, .95);
  height: 100%;
}

// TYPOGRAPHY

@font-face {
  font-family: 'Roboto';
  src: url('@/../../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;  // thin
}

@font-face {
  font-family: 'Roboto';
  src: url('@/../../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200; // light
}

@font-face {
  font-family: 'Roboto';
  src: url('@/../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 300; // medium
}

body {
  font-family: 'Roboto';
  font-size: 75%;
}

h1 {
  font-size: 2.2rem;
  font-weight: 100;
  padding-bottom: .5rem;
  text-transform: capitalize;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: .5rem;
}

p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 200;
}